<launch>
  <!-- irk_teleop node -->
  <node name="irk_teleop_gui"
        pkg="irk_teleop"
        type="irk_teleop_gui"/>
  
  <!-- mtm kinematics node -->
  <node name="mtm_kinematics"
        pkg="irk_kinematics"
        type="irk_mtm_logic"/>

  <!-- psm kinematics node -->
  <node name="psm_kinematics"
        pkg="irk_kinematics"
        type="irk_psm_logic"/>
  
  <!-- mtm rviz  -->
  <include file="$(find irk_model)/launch/mtm_psm_rviz.launch"/>

</launch>


