<?xml version="1.0" ?>
<robot name="master" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macros -->
  <xacro:include filename="$(find dvrk_model)/model/ecm.urdf.xacro"/>

  <link name="world"/>
  <xacro:ecm
      prefix="ecm"
      parent_link="world"
      xyz="0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  
</robot>
