<?xml version="1.0" ?>
<robot name="master" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macros -->
  <xacro:include filename="$(find dvrk_model)/model/mtm.urdf.xacro"/>

  <link name="world"/>
  <xacro:mtm_left
      prefix=""
      parent_link="world"
      xyz="-0.25 0.0 1.0" rpy="0.0 0.0 0.0"/>
  
</robot>
