<launch>

  <group ns="/dvrk_mtm">

    <arg name="robot_name" default="one"/>
    
    <!-- mtm kinematics node -->
    <node name="mtm_kinematics" pkg="dvrk_kinematics"
          type="dvrk_mtm_logic">
      <param name="robot_name" value="$(arg robot_name)"/>
    </node>
    
    <!-- mtm rviz  -->
    <include file="$(find dvrk_model)/launch/mtm_right_rviz.launch"/>
  </group>

</launch>


