<!-- Loading and Launching Controllers -->
<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find dvrk_gazebo)/config/mtm_control.yaml" command="load"/>
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/mtm" args="joint_state_controller
                                 joint1_position_controller
                                 joint2_position_controller
                                 joint3_position_controller
                                 joint4_position_controller
                                 joint5_position_controller
                                 joint6_position_controller
                                 joint7_position_controller
                                 "/>
  <!-- RQT_GUI for setting joints positions  -->
  <node name="mtm_rqt" pkg="rqt_gui" type="rqt_gui" respawn="false"
	       output="screen" args="--perspective-file $(find dvrk_gazebo)/launch/mtm_control.perspective"/>
</launch>
