
<launch>
  <arg name="model" default="$(find dvrk_model)/model/ecm.xacro" />
  <arg name="gui" default="true" />
  <arg name="rate" default="100" />
  <arg name="rviz" default="true" />
  <param name="rate" value="$(arg rate)"/>

  <group ns="/dvrk_ecm">
    <param name="robot_description"
	   command="rosrun xacro xacro.py $(arg model)"/>
    <param name="use_gui" value="$(arg gui)"/>
    <param name="rate" value="$(arg rate)"/>
    <rosparam param="source_list" subst_value="True">
      [joint_states_robot]
    </rosparam>
    
    <node name="joint_state_publisher" pkg="joint_state_publisher"
          type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  </group>

  <node name="rviz" pkg="rviz" type="rviz"
	args="-d $(find dvrk_model)/rviz_config/ecm.rviz" 
	if="$(arg rviz)"/>
</launch>


