<launch>

  <arg name="gui" default="true" />
  <arg name="rviz" default="true" />
  
  <group ns="/dvrk_mtm">
    <arg name="model" default="$(find dvrk_model)/model/mtm_left.urdf.xacro" />
    <arg name="rate" default="20" />
    
    <param name="robot_description"
           command="rosrun xacro xacro.py $(arg model)"/>
    <param name="use_gui" value="$(arg gui)"/>
    <param name="rate" value="$(arg rate)"/>
    
    <rosparam>
      source_list: [/dvrk_mtm/joint_states_robot]
    </rosparam>
    
    <node name="joint_state_publisher"
          pkg="joint_state_publisher"
          type="joint_state_publisher" />
    
    <node name="robot_state_publisher"
          pkg="robot_state_publisher"
          type="state_publisher" />
    
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(find dvrk_model)/rviz_config/mtm_rviz.rviz" />
  </group>
  
</launch>


