<launch>
  <arg name="model" default="$(find dvrk_model)/model/psm_one.urdf.xacro" />
  <arg name="gui" default="true" />
  <arg name="rate" default="100" />
  <arg name="rviz" default="$(find dvrk_model)/rviz_config/psm_rviz.rviz"/>
  
  <param name="robot_description"
         command="rosrun xacro xacro.py $(arg model)"/>
  <param name="use_gui" value="$(arg gui)"/>
  <param name="rate" value="$(arg rate)"/>

  <!-- joint state publisher -->
  <node name="joint_state_publisher"
        pkg="joint_state_publisher"
        type="joint_state_publisher"/>

  <!-- robot state publisher -->
  <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="state_publisher" />

  <!-- rviz node -->
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(arg rviz)" />
  
  <rosparam>
    <!-- if connect to dv hardware, update this source list  -->
    <!-- source_list: [/adjutant/device/merlin/joint_states] -->
  </rosparam>
</launch>


