<!-- -*- mode: XML -*- -->
<!-- Launch file to test v4l without any specific parameter. -->

<launch>

  <arg name="dev_name" default="/dev/video0"/>

  <node name="v4l_test_gscam"
        pkg="gscam"
        type="gscam">
    <env name="GSCAM_CONFIG"
         value="v4l2src device=$(arg dev_name) ! videoconvert"/>
    <param name="frame_id"
           value="v4l_test" />
  </node>
  
  <node name="v4l_test_view"
	pkg="image_view"
	type="image_view"
	args="image:=image_raw">
    <param name="autosize"
           value="True" />
  </node>

</launch>
