<launch>

  <arg name="arm" />   
  <arg name="config" />   

  <arg name="model" default="$(find dvrk_model)/model/$(arg arm).urdf.xacro" />
  
  <node name="dvrk_$(arg arm)_node"
        pkg="dvrk_robot"
        type="dvrk_console_json"        
        args="-j $(arg config)"                     
        output="screen"/>

  <group ns="/dvrk/$(arg arm)">
      <arg name="gui" default="false" />
      <arg name="rate" default="20" />
      
      <param name="robot_description" command="rosrun xacro xacro $(arg model) prefix:=$(arg arm)_"/>
      <param name="use_gui" value="$(arg gui)"/>
      <param name="rate" value="$(arg rate)"/>
      
      <rosparam param="source_list" subst_value="True">
          [/dvrk/$(arg arm)/state_joint_current,
           /dvrk/$(arg arm)/state_jaw_current,
           /dvrk/$(arg arm)/state_gripper_current]
      </rosparam>

      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  </group>

  <node name="rviz" pkg="rviz" type="rviz"
     args="-d $(find dvrk_model)/rviz_config/$(arg arm).rviz" />

</launch>


