<!-- MTM right  -->
<launch>

    <node name="dvrk_mtm_ros_node"
        pkg="dvrk_robot"
        type="dvrk_mtm_ros"
        args="-i $(find dvrk_robot)/config/sawRobotIO1394-MTMR-28247.xml
              -p $(find dvrk_robot)/config/sawControllersPID-MTM.xml
              -k $(find dvrk_robot)/config/dvmtm.rob
              -n MTMR"/>
    <arg name="model" default="$(find dvrk_model)/model/mtm_right.urdf.xacro" />
    <arg name="gui" default="true" />
    <arg name="rate" default="20" />
    <arg name="mimic_tags" default="false" />
    
    <param name="robot_description"
           command="rosrun xacro xacro.py $(arg model)"/>
    <param name="use_gui" value="$(arg gui)"/>
    <param name="rate" value="$(arg rate)"/>
    <param name="use_mimic_tags" value="$(arg mimic_tags)" />

    <remap from="/joint_states" to="/dvrk_mtm/set_position_joint" />
    <node name="joint_state_publisher"
          pkg="joint_state_publisher"
          type="joint_state_publisher" />
  
</launch>
