<!-- Both MTMs  -->
<launch>

    <arg name="model" default="$(find dvrk_model)/model/psm_one.urdf.xacro" />
    <arg name="gui" default="true" />
    <arg name="rate" default="20" />
    <arg name="mimic_tags" default="true" />
    
    <param name="robot_description"
           command="rosrun xacro xacro.py $(arg model)"/>
    <param name="use_gui" value="$(arg gui)"/>
    <param name="rate" value="$(arg rate)"/>
    <param name="use_mimic_tags" value="$(arg mimic_tags)" />

    <remap from="/joint_states" to="/joint_states/joint_position_current" />
    <node name="joint_state_publisher"
          pkg="joint_state_publisher"
          type="joint_state_publisher" />
   
</launch>
