<launch>

  <!-- dvrk mtm -->
  <node name="dvrk_mtm_ros_node"
        pkg="dvrk_robot"
        type="dvrk_mtm_ros"
        args="-i $(find dvrk_robot)/config/sawRobotIO1394-MTMR-28247.xml
              -p $(find dvrk_robot)/config/sawControllersPID-MTM.xml
              -k $(find dvrk_robot)/config/dvmtm.rob
              -n MTMR"/>
  
  <!-- dvrk -->
  <node name="dvrk_jnt_pub_node"
        pkg="dvrk_joint_publisher"
        type="mtm_joint_publisher.py"/>

  <!-- mtm rviz  -->
  <include file="$(find dvrk_model)/launch/mtm_right_rviz.launch">
    <!-- <arg name="gui" default="false" /> -->
  </include>
  
</launch>