<!-- MTM right  -->
<launch>

    <node name="dvrk_mtm_ros_node"
        pkg="dvrk_robot"
        type="dvrk_mtm_ros"
        args="-i $(find dvrk_robot)/config/sawRobotIO1394-MTMR-28247.xml
              -p $(find dvrk_robot)/config/sawControllersPID-MTM.xml
              -k $(find dvrk_robot)/config/dvmtm.rob
              -n MTMR"/>
    <arg name="model" default="$(find dvrk_model)/model/mtm_right.urdf.xacro" />
    <arg name="gui" default="true" />
    <arg name="rate" default="20" />
    <arg name="mimic_tags" default="false" />
    <arg name="namespace" default="/dvrk_mtm" />

    <group ns="$(arg namespace)">
      <param name="robot_description"
             command="rosrun xacro xacro.py $(arg model)"/>
      <param name="use_gui" value="$(arg gui)"/>
      <param name="rate" value="$(arg rate)"/>
      <param name="use_mimic_tags" value="$(arg mimic_tags)" />

      <rosparam param="source_list" subst_value="True">
        [$(arg namespace)/joint_states_robot]
      </rosparam>

      <!-- standard joint state publisher -->
      <node name="joint_state_publisher"
            pkg="joint_state_publisher"
            type="joint_state_publisher" />

      <!-- robot state publisher -->
      <node name="robot_state_publisher"
            pkg="robot_state_publisher"
            type="state_publisher" />

      <!-- dvrk joint publisher -->
      <node name="feedback_mtm_jp" 
            pkg="dvrk_joint_publisher"
            type="mtm_joint_publisher.py"
            args="right_"/>
      
    </group>

    <node name="rviz" 
	  pkg="rviz" 
	  type="rviz"
	  args="-d $(find dvrk_model)/rviz_config/mtmr_rviz.rviz" />
  
</launch>
