<launch>

  <group ns="/irk_psm">

    <rosparam>
      <!-- if connect to dv hardware, update this source list  -->
      source_list: [/irk_psm/joint_states_command]
    </rosparam>

    <!-- <node name="psm_kinematics" -->
    <!--       pkg="irk_kinematics" -->
    <!--       type="irk_psm_logic"/> -->
    
    <include file="$(find irk_model)/launch/psm_rviz.launch"/>
  </group>

</launch>


