<launch>

  <!-- dvrk_teleop gui node -->
  <node name="dvrk_teleop"
        pkg="dvrk_teleop"
        type="dvrk_teleop"
        output="screen"/>
  
  <!-- dvrk_teleop gui node -->
  <node name="dvrk_teleop_gui"
        pkg="dvrk_teleop"
        type="dvrk_teleop_gui"/>
  
  <!-- mtm kinematics node -->
  <node name="mtm_kinematics"
        pkg="dvrk_kinematics"
        type="dvrk_mtm_logic">
    <param name="robot_name" value="right"/>
  </node>

  <!-- psm kinematics node -->
  <node name="psm_kinematics"
        pkg="dvrk_kinematics"
        type="dvrk_psm_logic">
    <param name="robot_name" value="one"/>
  </node>
  
  <!-- mtm rviz  -->
  <include file="$(find dvrk_model)/launch/mtm_psm_rviz.launch"/>

</launch>


